<!DOCTYPE html>

<html>

	<head>
		<title>Introduction to Angular.js</title>
		<script src="libs/jquery/dist/jquery.js"></script>
		<script src="libs/angular/angular.js"></script>
	</head>

	<body>

		<div ng-app="MyApp">
			<div ng-controller="ParentCtrl">
				Scope ID: {{$id}}<br>
				Parent Message: {{o.message}}<br>
				Parent Message: <input ng-model="o.message">

				<div ng-controller="ChildCtrl">

					Scope ID: {{$id}}<br>
					Child Message: {{o.message}}<br>
					Child Message: <input ng-model="o.message">

				</div>

			</div>
		</div>

		<script>

			angular.module("MyApp", [])
				.controller("ParentCtrl", function($scope) {
					$scope.o = {
						message: "Hi Class!"
					};
				})
				.controller("ChildCtrl", function($scope) {
				})
				.run(function($rootScope) {
					setTimeout(function() {
						console.dir($rootScope);
					},0);
				});

		</script>

	</body>

</html>
